body {
    background-color:bisque;
}
.header {
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
}
.logo {
    font-size: 25px;
    color: whitesmoke;
    font-weight: 600;
    font-family: serif;
    text-decoration: none;
}
.navbar a{ 
    font-size: 20px;
    display: inline-block;
    margin: 10px 20px;
    color:whitesmoke;  
    transition: .2s ease-in;
    border-bottom: 2px solid var(pink);
    overflow:hidden;
    transition: .3s;
    text-decoration: none;
}
.navbar a:hover {
    color:pink
}
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 105;
}
.home-content {
    max-width: 600px;
}
.home-content h1 {
    font-size: 40px;
    font-weight:bolder;
}
.home-content p {
    font-size: 20px;
}
.images{
   width: 50%;
   height:70%;
   display: flex;
   bottom: 0;
   justify-content: flex-end;
}
.images img{
    height:200px;
    left: 50%;
    bottom: 0;
    transform: translateX(200px);
}
.images:hover .shape{
    bottom:60px;
}
.me:hover {
    left:45%;
    transform: translateY(100px);
}